asttokens==2.4.1
black==24.3.0
cachetools==5.3.3
cfgv==3.4.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
coverage==7.4.4
decorator==5.1.1
distlib==0.3.8
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
flake8==7.0.0
identify==2.5.35
iniconfig==2.0.0
ipython==8.18.1
jedi==0.19.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.6.2
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
pyproject-api==1.6.1
pytest==8.1.1
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rich==13.7.1
setuptools==69.2.0
six==1.16.0
stack-data==0.6.3
tomli==2.0.1
tox==4.14.1
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2024.1
virtualenv==20.25.1
wcwidth==0.2.13
